body{
    width: 960px;
    margin: 0 260px;
    color: #cccccc;
    background: lightgray;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;  
}

.nav{
    background: #ffffff;
    padding: 25px;
    border-bottom: #cccccc 2px solid;
}

a, .name{
    display: inline;    
}

.name{
    background: #4aaaa5;
    color: #ffffff;
    padding: 26px;
}

.container{
    width: 960;
    background: #ffffff;
    border: #dddddd 1px solid;
    margin-top: 60px;
    margin-bottom: 60px;
}

.section{
    color: #4aaaa5;
    padding: 10px 25px 10px 25px;
    border-bottom: #cccccc 2px solid;
    margin-left: 20px;
    margin-right: 20px;
}

.name, .section{
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p{
    display: inline;
    line-height: 1.5em;
}

footer{
    background: #666666;
    border-top: #4aaaa5 4px solid;
    padding: 30px;
    text-align: center
}