.body{
    background-image: url("Assets/Images/connectwork.png");

}

.nav{
    background: #ffffff;
    padding: 25px;
    border: #cccccc 2px solid;
}

a, .name{
    display: inline;    
}

.name{
    background: #4aaaa5;
    color: #ffffff;
    padding: 26px;
}